.git
node_modules
vendor
public/build
public/storage
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
.env
.env.example
*.md
.phpunit.cache
*.sql
*.pem
.DS_Store
.vercel
